.movieDetails {
	display: flex;
  flex-direction: column;
}

.movieOverview {
  display: flex;
  height: 600px;
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: 10;
}

.movieOverviewBackground {
  display: flex;
  height: 600px;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: 1;
}

.movieDetailsPane {
  margin: 100px 0px 0px 80px;
}

.movieOverviewImage {
  border-radius: 8px;
  position: relative;
  margin: 80px 0px 0px 240px;
}

.movieDetailRating {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 800;
}

.movieDetailTitle {
  display: flex;
  font-size: 48px;
  font-weight: 600;
  max-width: 540px;;
}

.movieDetailYear {
  font-size: 48px;
  font-weight: 300; 
}

.movieDetailOverview {
  max-width: 540px;
}

.movieOverviewShield {
  background-color: white;
  height: 600px;
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

.movieDetailOverviewTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0px 16px 0px;
}

.navBar {
  background-color: #0F0932;
  color: #1CE0F3;
  font-size: 24px;
  font-weight: 800;
  min-height: 64px;
  width: 100%;
}

.navBarTitle {
  cursor: pointer;
  padding: 16px;
}
