.movieThumbnail {
	cursor: pointer;
	margin: 24px;
}

.movieThumbnailImage {
	border-radius: 12px;
}

.thumbnailRating {
	left: 8px;
	position: relative;
	top: -32px;
}

.thumbnailRelaseDate {
	color: gray;
	font-size: 14px;
	position: relative;
	top: -32px;
}

.thumbnailTitle {
	font-size: 14px;
	font-weight: 800;
	overflow: scroll;
	position: relative;
	top: -32px;
	width: 150px;
}

