
.single-chart {
  width: 60px;
  justify-content: space-around ;
}

.circular-chart {
  border-radius: 25px;
  background-color: black;
  display: block;
  margin: 10px;
  max-width: 60px;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #FFF;
  font-family: sans-serif;
  font-size: 0.5em;
  font-weight: 600;
  text-anchor: middle;
}